.About-me {
      max-width: 768px;
      margin-top: 60px;
      text-align: center;
      font-size: 22px;
      line-height: 32px;
    }

    .home {
      border-radius: 20px;
      color: white;
      margin-top: 3px;
      padding: 10px;
      background-color: red;
      cursor: pointer;
      display: flex;
      justify-content: start;
      align-content: center;
      width: 50px;
    }